#home-page {
    display: flex;
    flex-direction: column;
}

.nav-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

.img-transparent {
    opacity: 0;
}

.creation-modal-btn {
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    flex-grow: 1;
    color: #efefef;
}

.creation-modal-btn > h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 8px;
}

.creation-modal-btn > span {
    font-size: 48px;
    margin: 20px 0;
}

.creation-modal-btn > p {
    font-size: 20px;
}

.creation-modal-btn-one {
    background-color: slateblue;
}

.creation-modal-btn-one:hover, .creation-modal-btn-one:focus {
    background-color: hsl(248, 53%, 53%);
}

.creation-modal-btn-two {
    background-color: orangered;
}

.creation-modal-btn-two:hover, .creation-modal-btn-two:focus {
    background-color: hsl(16, 100%, 45%);
}
