#To install required items use:
    #pip install -r requirements.txt
Flask==2.2.3
pymongo==4.6.1
Werkzeug==2.2.2
flask-cors
flask-jwt-extended
python-dotenv
boto3

#To run the application, type python app.py in the console