.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 0;
  padding: 5px;
  background-color: lightgrey;
}

.btn-home {
  font-weight: bolder;
  color: grey;
  animation: button-in 600ms;
}

.btn-home-solid {
  font-weight: bolder;
  color: grey;
}

.btn-bar {
  font-weight: bolder;
  color: grey;
  margin-left: auto;
  animation: fade-in 3000ms;
}

.btn-base {
  font-weight: bolder;
  color: grey;
  font-size: 15px;
  animation: fade-in 3000ms;
  padding: 15px;
  background-color: lightgrey;
  border: none;
}

.btn-bar-base {
  font-size: 15px;
  border: none;
  padding: 15px;
  background-color: lightgrey;
  font-weight: bolder;
  color: grey;
  animation: fade-in 3000ms;
}
