.post-list-item {
  border: 1px solid #202020;
  padding: 8px;
  background-color: #efefef;
  border-radius: 8px;
  margin-bottom: 8px;
}

.post-list-item .profile-img {
  width: 35px;
  height: 35px;
  margin: 10px;
}
