.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-img-full {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-img-crop {
  width: 350px;
  height: 350px;
}
