h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  color: lightgray;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  color: grey;
  text-align: center;
}

h4 {
  font-size: 15px;
  font-weight: bolder;
  color: gray;
  text-align: center;
  padding: 5px;
  border: 3px solid lightgray;
  border-radius: 100px;
  animation: fade-in 1500ms;
  animation: button-in-vert 2000ms;
}

h5 {
  font-size: 15px;
  font-weight: bold;
  color: lightgray;
  text-align: center;
}
