h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  color: lightgray;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  color: grey;
  text-align: center;
}

h5 {
  font-size: 15px;
}
