<!DOCTYPE html>
<link rel="stylesheet" href="/templates/styles.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/  (Versions)</title>
</head>
<h1>Thirdder</h1>
<body>
    <h3>Flask Pymongo Version</h3>
    <p>The version of pymongo installed is: {{ pymongo_version }}</p>
    <br>
    <h3>Flask Version</h3>
    <p>The version of flask installed is: {{ flask_version }}</p>
    <br>
    <button onclick="window.location.href='/home'">Java Test(home)</button>
    <br>
</body>
</html>
