<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/backend/templatesemplates/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="buttons">
                <a href="/">Index</a>
                <a href="/home">Home</a>
            </div>
            <div class="profile">
                <a href="/profile">
                    <img src="/images/DefaultProfile.jpg">
                </a>
            </div>
        </nav>
    </header>
    <h2>Thridder</h2>
    {% block content %}{% endblock %}
</body>
</html>
