<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            <div class="buttons">
                <span>---</span>
                <a href="/register">Register</a>
                <span>---</span>
                <a href="/cleardb">Clear Database</a>
                <span>---</span>
        </nav>
    </header>
    <h2>Thridder</h2>
    {% block content %}{% endblock %}
</body>
</html>
