<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <div class="message">
        {% if message %}
            <p>{{ message }}</p>
            <p>Information:, {{ username }} {{ email }} {{ password}} </p>
        {% endif %}
    </div>
    <br></br>
    <div class="buttons">
        <a href="/">Index</a>
    </div>
</body>
</html>
