<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Registration Form</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/register" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name ="confirm_password" required><br><br>
        <input type="submit" value="Register">
    </form>
    <br></br>
    <div class="buttons">
        <a href="/">Index</a>
    </div>
</body>
</html>
